conky.config = {
    alignment = 'top_left',
    maximum_width = 375,
    gap_x = 1205,
    gap_y = 20,
    update_interval = 3,
    show_graph_range = true,
    default_color = '9C9C9C',
    color1 = 'AEAEFB',
    color2 = '9494D7',
    color3 = '9E9E59',
    color4 = 'FF9898',
    color5 = 'DD8383',
    color6 = '71A971',
    use_xft = true,
    font = 'DejaVu Sans Mono:size=10',
    double_buffer = true,
    own_window = true,
    own_window_type = 'override',
    own_window_transparent = true,
    if_up_strictness = 'address'
}

conky.text = [[
${color1}Time ${hr 6}
${color3}${execi 12 date +"%F %R"} ${color}Local
${color3}${execi 12 date -u +"%F %R"} ${color}UTC
${color3}${uptime} ${color}Up

${color1}Battery & Fan ${hr 6}
${alignr}${color3}${battery_short} ${battery_bar 10,275}
${color}Time remaining: \
${color3}${execi 60 acpi -b | awk '{print $5}' | cut -c 1-5} \
${alignr}${color}Fan speed: ${color3}${ibm_fan} RPM

${color1}CPU ${hr 6}
${alignr}${color3}${cpu}% ${cpubar 10,275}
${color}0: ${color3}${freq 1} MHz \
${color}- ${color3}${platform coretemp.0/hwmon/hwmon2 temp 2} °C \
${alignr}${color}1: ${color3}${freq 2} MHz \
${color}- ${color3}${platform coretemp.0/hwmon/hwmon2 temp 3} °C
${color}${cpugraph 0 60,375 71A971 DD8383 -t -l}

${color1}Memory ${hr 6}
${color2}RAM: \
${alignr}${color3}${memperc}% ${membar 10,275}
${alignc}${color3}${mem} ${color}of ${color3}${memmax}
${color2}Swap: \
${alignr}${color3}${swapperc}% ${swapbar 10,275}
${alignc}${color3}${swap} ${color}of ${color3}${swapmax}

${color1}Filesystems ${hr 6}
${color2}/: \
${alignr}${color3}${fs_used_perc /}% ${fs_bar 10,275 /}
${alignc}${color3}${fs_used /} ${color}of ${color3}${fs_size /}
${color2}/home: \
${alignr}${color3}${fs_used_perc /home}% ${fs_bar 10,275 /home}
${alignc}${color3}${fs_used /home} ${color}of ${color3}${fs_size /home}

${color1}Network ${hr 6}
${if_up enp0s25}${color2}Ethernet: ${color3}enp0s25 ${color}is up
${color3}${downspeed enp0s25} ${color}downspeed \
${alignr}${color3}${upspeed enp0s25} ${color}upspeed
${color}${downspeedgraph enp0s25 60,185 71A971 DD8383 -t -l} \
${alignr}${upspeedgraph enp0s25 60,185 71A971 DD8383 -t -l}
${color3}${totaldown enp0s25} ${color}total \
${alignr}${color3}${totalup enp0s25} ${color}total
${endif}${if_up wlp3s0}${color2}Wireless: ${color3}wlp3s0 ${color}is up
${color3}${downspeed wlp3s0} ${color}downspeed \
${alignr}${color3}${upspeed wlp3s0} ${color}upspeed
${color}${downspeedgraph wlp3s0 60,185 71A971 DD8383 -t -l} \
${alignr}${upspeedgraph wlp3s0 60,185 71A971 DD8383 -t -l}
${color3}${totaldown wlp3s0} ${color}total \
${alignr}${color3}${totalup wlp3s0} ${color}total
${endif}
${color1}Processes ${hr 6}
${color}Total: ${color3}${processes} \
${color}- Running: ${color3}${running_processes}
${color2}Top CPU              PID  CPU %  Mem %
${color2}1 ${color3}${top name 1} \
${color}${top pid 1} ${top cpu 1} ${top mem 1}
${color2}2 ${color3}${top name 2} \
${color}${top pid 2} ${top cpu 2} ${top mem 2}
${color2}3 ${color3}${top name 3} \
${color}${top pid 3} ${top cpu 3} ${top mem 3}
${color2}Top Mem              PID  CPU %  Mem %
${color2}1 ${color3}${top_mem name 1} \
${color}${top_mem pid 1} ${top_mem cpu 1} ${top_mem mem 1}
${color2}2 ${color3}${top_mem name 2} \
${color}${top_mem pid 2} ${top_mem cpu 2} ${top_mem mem 2}
${color2}3 ${color3}${top_mem name 3} \
${color}${top_mem pid 3} ${top_mem cpu 3} ${top_mem mem 3}
]]
