conky.config = {
    alignment = 'top_left',
    maximum_width = 375,
    gap_x = 810,
    gap_y = 20,
    update_interval = 300,
    text_buffer_size = 4096,
    show_graph_range = true,
    default_color = '9C9C9C',
    color1 = 'AEAEFB',
    color2 = '9494D7',
    color3 = '9E9E59',
    color4 = 'FF9898',
    color5 = 'DD8383',
    color6 = '71A971',
    use_xft = true,
    font = 'DejaVu Sans Mono:size=10',
    double_buffer = true,
    own_window = true,
    own_window_type = 'override',
    own_window_transparent = true
}

conky.text = [[
${execp /home/sean/.conky/anconky.py}
${color1}Kernel Versions ${hr 6}
${execpi 3600 /home/sean/.conky/kvconky.py}

${color1}Arch Updates Pending ${hr 6}
${color}Update by: ${color3}pacaur -Su
${execpi 3600 /home/sean/.conky/paconky.py}

${color1}TeXlive Updates Pending ${hr 6}
${color}Update by: ${color3}sudo tlmgr update --self --all
${execpi 3600 /home/sean/.conky/tlconky.py}
]]
